@{
	Layout = "";
}

<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Register</title>

	<!-- Custom fonts for this template-->
	<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
		  rel="stylesheet">

	<!-- Custom styles for this template-->
	<link href="css/sb-admin-2.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>
<body>
	<section class="vh-100"
			 style="background-color:#4e73df;">
		<div class="mask align-items-center h-100 gradient-custom-3">
			<h5 class="text-center pt-2 pb-4 text-white fs-1">Dhaka Bank Portal Service</h5>
			<div class="container h-80">
				<div class="row d-flex justify-content-center align-items-center h-100">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="card" style="border-radius: 15px;">
							<div class="card-body p-5">
								<h2 class="text-f-2 text-center mb-3 text-primary">Create an Account</h2>

								<form>

									<div class="form-outline mb-2">
										<input type="text" placeholder="Windows login user id" id="form3Example1cg" class="form-control form-control-sm" />
										<label class="form-label" for="form3Example1cg"></label>
									</div>

									<div class="form-outline mb-2">
										<input type="email" placeholder="--Please select a Branch--" id="form3Example3cg" class="form-control form-control-sm" />
										<label class="form-label" for="form3Example3cg"></label>
									</div>

									<div class="form-outline mb-2">
										<input type="text" placeholder="--Please select a Role--" id="form3Example4cg" class="form-control form-control-sm" />
										<label class="form-label" for="form3Example4cg"></label>
									</div>

									<div class="form-outline mb-2">
										<input type="password" placeholder="Password" id="form3Example4cdg" class="form-control form-control-sm" />
										<label class="form-label" for="form3Example4cdg"></label>
									</div>



									<div class="d-flex justify-content-center">
										<button type="button"
												class="btn btn-primary d-grid gap-2 col-6 mx-auto  btn-block ">
											Register
										</button>
									</div>

									<p class="text-center text-muted mt-2 mb-2">
										Have already an account? <a href="@Url.Action("Index", FormMethod.Get)
																	class="text-primary text-body"><u>Login here</u></a>
									</p>

								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>